# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.DS_Store

# ml-mipt specific
*__from_class*
*__solved*
*__draft*
testing/
week0_06_boosting/Icon
week0_06_trees_and_ensembles/Icon
week0_06_trees_and_ensembles/img/Icon
week0_07_boosting/Icon
week0_08_intro_to_DL/Icon
week0_09_DL_step_2/Icon
week0_10_embeddings_and_seq2seq/Icon
week0_11_CNN/Icon
week0_11_CNN/img/Icon
week0_12_feature_importances/Icon
week0_13_unsupervised/Icon
week1_00_preliminary/Icon
week1_01_word_embeddings/Icon
week1_02_CNN_for_texts_and_more_embeddings/Icon
week1_03_Machine_Translation_and_Attention/Icon
week1_03_Machine_Translation_and_Attention/img/Icon
week1_04_Transformer_and_PoS_Tagging/Icon
week1_04_Transformer_and_PoS_Tagging/assets/Icon
week1_05_BERT_and_GPT/Icon
week1_06_Question_Answering/Icon
week1_06_Question_Answering/img/Icon
week1_07_Intro_to_RL/Icon
week1_08_Value_based/Icon
week1_09_approx_qlearning/Icon
week1_10_Reinforce/Icon
week1_11_RL_outside_games/Icon
week1_12_CV_overview/Icon
week1_14_generative/Icon
Icon
.idea/Icon
.idea/ml-mipt.iml
.idea/modules.xml
datasets/Icon
datasets/comments_small_dataset/Icon
datasets/Machine_translation_EN_RU/Icon
homeworks_advanced/Icon
homeworks_advanced/assignment1_01_Word_Vectors/Icon
homeworks_advanced/assignment1_02_Three_headed_network/Icon
homeworks_advanced/assignment1_03_fine_tuning/Icon
homeworks_advanced/assignment1_04_conv_cvae/Icon
homeworks_advanced/extra_lab_image_captioning/Icon
homeworks_advanced/extra_lab_qa/Icon
homeworks_advanced/Lab1_NLP/Icon
homeworks_advanced/Lab2_RL/Icon
homeworks_basic/Icon
homeworks_basic/assignment0_01_kNN/Icon
homeworks_basic/assignment0_02_Lin_reg/Icon
homeworks_basic/assignment0_03_SVM/Icon
homeworks_basic/assignment0_04_tree/Icon
homeworks_basic/assignment0_05_NN_from_scratch/Icon
homeworks_basic/Lab1_ML_pipeline_and_SVM/Icon
homeworks_basic/Lab2_DL/Icon
week0_01_org_kNN_and_Naive_Bayes/Icon
week0_02_linear_reg/Icon
week0_03_linear_classification/Icon
week0_04_SVM_and_PCA/Icon
week0_05_Bias_Variance/Icon
week0_05_trees_and_ensembles/Icon
